<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'stock:stock_index' %}">
        Stock List
    </a>
    <h1>{{name}}</h1>
    <p>고가: {{high}}</p>
    <p>저가: {{low}}</p>
    <p>거래량: {{trading}}</p>
    <p>외인 보유률: {{foreigner}}</p>
    <img src= {{chart}} >
    <h2>수익률: {{revenue}}</h2>
</body>
</html>
